@font-face {
    font-family: "Proxima Nova";
    src: url("fonts/ProximaNovaT-Thin.woff"),
        url("fonts/ProximaNovaT-Thin.woff2");
        font-style: normal;
        font-weight: 300;
}
@font-face {
    font-family: "Proxima NovaA";
    src: url("fonts/ProximaNovaA-Regular.woff"),
        url("fonts/ProximaNovaA-Regular.woff2");
        font-style: normal;
        font-weight: normal;
}

@font-face {
    font-family: "Forever Brush Script";
    src: url("fonts/Forever Brush Script.woff"),
        url("fonts/Forever Brush Script.woff2");
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/roboto.regular.woff"), url("fonts/roboto.regular.woff2");
}

* {
	margin: 0;
	padding: 0;
}
html,
body {
	height: 100%;
}

body {
    color: white;
    font-family: "Proxima NovaA", "sans-serif";
    background-color: black;
}

p {
    font-style: normal;
    font-weight: 300;
    line-height: 1.5;
}

.wrapper a {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-family: "Proxima Nova", "sans-serif";
    font-weight: 300;
    font-size: 60px;
}

h5 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}

h2 {
    font-family: "Forever Brush Script", "sans-serif";
    font-size: 40px;
    font-weight: 300;
    position: relative;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
}


h2::after {
    content: "";
  bottom: 0;
  left: 0;
  width: 80px;
  height: 1px;
  background-color: #c0235a;
  right: 0;
  margin: 0 auto;
  display: block;
  margin-top: 10px;
  margin-bottom: 35px;
}

.story-text > h2::after {
    background-color: #fff;
}

.container {
    max-width: 100%;
    margin: 0 auto;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.flex-container {
    display: flex;
    justify-content: center;
}

.nav-menu li {
    list-style-type: none;
    padding: 0 15px;
    font-size: 16px;
    position: relative;
}

.submenu {
    visibility: hidden;
    position: absolute;
    top: 100%;
    transform: translateY(30px);
    transition: opacity 0.4s linear, transform 0.3s;
}

.submenu li {
    margin: 10px 0;
}

.nav-menu > li:hover > a + ul {
    visibility: visible;
    transform: translateY(0);
}

.nav-menu li:hover a{
    text-decoration: underline;
}

.nav {
    background-color: transparent;
    padding-top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.banner {
    background-image: url("images/bgbanner.png");
    background-size: cover;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
}

.banner-text {
    max-width: 620px;
    text-align: center;
}

.banner-text > p {
    line-height: 1.5;
}

.sushi {
    height: 250px;
}

.our-story {
    background-color: #962323;
    align-items: center;
    padding: 90px;
    justify-content: space-evenly;
}

.story-text {
    max-width: 430px;
    text-align: center;
}

.story-text > h2 > hr {
    border-color: white;
}

.signatures-recipes {
    background-image: url("images/recipesbg.png");
    padding: 80px;
    background-size: cover;
    align-items: center;
}

.recipes-text {
    max-width: 430px;
    text-align: center;
}

.our-menu {
    color: black;
    padding: 100px;
    background-color: #f3f4f7;
}

.our-menu > h2 {
    margin-bottom: 80px;
}

.food {
    width: 50%;
    margin-bottom: 50px;
    padding-right: 70px;
    padding-left: 70px;
    font-weight: 600;
}

.menu-content {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.food-title {
    padding-bottom: 20px;
    justify-content: space-between;
    display: flex;
}

.name {
    font-size: 15px;
    color: black;
}

.price {
    color: #cb3167;
}

.food > p {
    color: #5d5d5d;
    font-size: 15px;
}

.portfolio {
    overflow: hidden;
    height: 320px;
    display: flex;
    flex-direction: row;
}

.footer-top {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 50px;
    background-color: #25262a;
    font-size: 14px;
    font-family: "Roboto";
    font-weight: 400;
    color: #d3d4d4;
    height: 300px;
    align-items: baseline;
}

.material-icons {
    color: #c0235a;
    padding: 5px 25px 5px 0;
}

.footer-top nav li {
    padding: 10px 0;
}

.footer nav {
    padding-bottom: 30px;
}

.footer ul {
    list-style-type: none;
}

.footer-logo-text {
    width: 245px;
    line-height: 1.5;
}

.footer-logo-text > h5 {
    font-size: 22px;
    margin-top: 25px;
}

.copyrights {
    background-color: #16171b;
    color: #7b7c7e;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    padding: 30px;
    font-size: 14px;
    font-family: "Roboto";
}

.copyrights-title {
    padding: 0 15px;
}

.copyrights ul {
    display: flex;
    flex-direction: row;
}

.copyrights ul > li {
    padding: 0 15px;
}

.copyrights nav {
    padding: 0 20px;
}

.copyrights a {
    margin: 0 5px;
}

.contact-line {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contact-line > a {
    display: flex;
    align-items: center;
}

a:hover {
    color: #c0235a;
}

.portfolio-item {
    position: relative;
    display: flex;
}

.portfolio-item > img {
    max-height: 100%;
    height: auto;
    max-width: initial;
}

.portfolio-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.377);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    opacity: 0;
    transition: all 300ms ease-in-out;
    
}

.portfolio-overlay > span {
    transform: scale(2);
    transition: all 700ms ease-in-out;
}

.portfolio-item:hover .portfolio-overlay {
    opacity: 1;
    
}

.portfolio-item:hover .portfolio-overlay > span {
    
    transform: scale(1);
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.content {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}
